
.login-box{
    background-color: whitesmoke;
    height: 500px;
    width: 500px;
    margin: auto;
    padding: 10px;
}

.loginImg{
    height: 100px;
    padding: 50px;
}

h3{
    margin-bottom: 5px;
}

.loginBtn{
    width: 210px;
    height: 25px;
    margin: 20px;
    background-color: green;
    color: white;
    border: 0
}

input{
    width: 200px;
}

.hidden{
    display: none;
}