
body{
    background-color: lightgray;
    text-align: center;
    font-family: Verdana;
}


.secret-content{
    height: 600px;
    width:700px;
    background-color: whitesmoke;
    margin: auto;
    padding: 10px;
}

.secret-img{
    height: 450px;
}

.secret-content button {
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 20px;
}

.logout-btn{
    float: right ;
}

.admin-btn{
    float: left;
}
